.fadeInDown-enter {
  opacity: 0;
  max-height: 0;
  transform: translateX(-30px) scale(0.8);
}
.fadeInDown-enter-active {
  opacity: 1;
  max-height: 400px;
  transform: translateX(0px) scale(1);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease,
    max-height 0.3s ease;
}
.fadeInDown-exit {
  opacity: 1;
  max-height: 400px;
}
.fadeInDown-exit-active {
  opacity: 0;
  max-height: 0;
  transform: translateX(-30px) scale(0.8);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease,
    max-height 0.3s ease;
}

.zoomIn-enter {
  opacity: 0;
  transform: scale(0.8);
}
.zoomIn-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}
.zoomIn-exit {
  opacity: 1;
}
.zoomIn-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.2s ease,
    transform 0.3s ease;
}

.popUp-enter {
  opacity: 0;
  transform: scale(0);
}
.popUp-enter-active {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 0.2s ease,
    transform 0.3s cubic-bezier(0.34, 2, 0.64, 1);
}
.popUp-exit {
  opacity: 1;
}
.popUp-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition:
    opacity 0.2s ease,
    transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
